<html lang="en">

<body>

    <center><h1>Edit Blog Post</h1>

    <form action="/admin" method="POST">
      <input type="text" name="username" value="<%= admin.username %>">

      <label for="updateAdminPassword">new Password:</label>
    <input type="password" id="updateAdminPassword" name="password" value="<%=admin.username %>"><br>
  
      <input type="submit" value="Save">
    </form></center>

    <%- include("../blog/partials/footer.ejs") %>
</body>
</html>